<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
</head>

<body>
<div class="container">

              @RenderBody()


      <footer>
      </footer>

    </div> <!-- /container -->
</body>
</html>
